<section class="mat-typography container">
  <div class="country-details">
    <button
      color="primary"
      mat-raised-button
      class="back-button"
      matTooltip="Go back to the list of the countries"
      aria-label="Go back to the list of the countries"
      (click)="goBack()"
    >
      <mat-icon aria-hidden="false" aria-label="Go back to main page">arrow_back</mat-icon>
      Back
    </button>
  </div>

  <div class="container-list country-details" *ngIf="(currentCountry$ | async) as currentCountry">
    <div class="country-flag" *ngIf="currentCountry.country?.name?.official"><img mat-card-image [src]="currentCountry.country?.flags?.png" alt="{{currentCountry.country?.name?.official}}"></div>
    <div class="country-info-container">
      <div class="country-info">
        <div *ngIf="currentCountry.country?.name">
          <div class="country-name">{{currentCountry.country?.name?.official}}</div>
          <p><strong>Native name:</strong> {{currentCountry.country?.name?.common}}</p>
          <p><strong>Population:</strong> {{currentCountry.country?.population}}</p>
          <p><strong>Region:</strong> {{currentCountry.country?.region}}</p>
          <p><strong>Sub Region:</strong> {{currentCountry.country?.subregion}}</p>
          <p><strong>Capital:</strong> {{currentCountry.country?.capital}}</p>
          <p><strong>Top Level Domain:</strong> {{currentCountry.country?.tld}}</p>
        </div>
      </div>
      <div class="country-actions">
        <div class="country-actions-title">Border Countries: </div>
        <div class="country-actions-buttons-container">
          <div *ngFor="let neighbor of (neighborhoodList$ | async)" class="country-actions-buttons">
            <button
              color="primary"
              mat-raised-button
              matTooltip="See details of this country"
              aria-label="See details of this country"
              [routerLink]="['/countries/', neighbor.cca3]"
              class="neighbor-button"
            >{{neighbor.name}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>