.container-header {
  width: 90vw;
  margin: 40px auto 0px auto;
  display: flex;
  flex-direction: row;
}
.country-details {
  margin: 2em 4em 4em 4em;
}
.country-flag {
  max-width: 30%;
}
.country-flag > img {
  max-width: 100%;
}
.country-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.country-info-container {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.country-info > div {
  padding: 2em;
}
.country-name {
  font-size: 1.8em;
  margin: -10px 0 10px 0;
}
.country-actions {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}
.country-actions-title {
  padding: 7px 7px 7px 2em;
}
.country-actions-buttons-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: 85%;
}
.country-actions-buttons {
  padding: 3px;
}