<div class="container-wrap" *ngIf="(countriesList$ | async) as filteredCountriesList">
  <form [formGroup]="searchFilterForm" class="search-form">
  <div class="container-header">
      <mat-form-field class="example-full-width" appearance="fill" matTooltip="Search for a country" aria-label="Search for a country">
        <mat-icon matPrefix>search</mat-icon>
        <input
          type="text"
          matInput
          placeholder="Search for a country..."
          aria-label="Country"
          (keyup)="filterCountries(appConfigs.formControlName.searchByText)"
          formControlName="searchByText"
        >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let country of filteredCountriesList"
            [value]="country.cca3"
            class="select-region"
          >
            {{country.name.official}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    <div class="spacer"></div>
    <div class="filter-form">
      <mat-form-field appearance="fill" matTooltip="Filter countries by region" aria-label="Filter countries by region">
        <mat-select formControlName="filterByRegion">
          <mat-option
            *ngFor="let region of worldRegions"
            [value]="region.value"
            (click)="filterCountries(appConfigs.formControlName.filterByRegion)"
          >
            {{region.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  </form>
  
  <div class="container-list" *ngIf="filteredCountriesList">
    <div class="subheader">
      <div class="subheader-content" *ngIf="filteredCountriesList.length > 1">Countries: {{filteredCountriesList.length}}</div>
    </div>
    
    <div class="countries-list-content">
      <div *ngFor="let country of filteredCountriesList" class="country-card">
        <mat-card
          [routerLink]="['/countries', country.cca3]"
          class="country-list-card"
          matTooltip="See details of this country"
          aria-label="See details of this country"
        >
          <mat-card-content>
            <div class="flex flex-row country-name-container">
              <img mat-card-image [src]="country.flags.png" alt="{{country.flags.alt}}" height="100">
              <div class="padding-10 country-name">{{country.name.official}}</div>
            </div>
            <div class="padding-t-15">
              <p><strong>Population:</strong> {{country.population | number:'1.0-3'}}</p>
              <p><strong>Region:</strong> {{country.region}}</p>
              <p><strong>Capital:</strong> {{country.capital}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
