@import './app/shared/styles/index.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #9293ff !important;
}
h1, h2, h3,
h4, h5, h6 {
  margin: 8px 0;
}
.spacer {
  flex: 1;
}
.country-list-card {
  cursor: pointer;
}
.country-name {
  font-size: 1.2em;
  font-weight: 500;
}
